body {
  background-color: #c8c8c8;
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
}
footer {
  background-color: white;
  font-size: 2em;
  font-weight: bold;
  color: black;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 25px;
}
/* classes */
.container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 20px 0 20px;
}
.button {
  border: none;
  border-radius: 8px;
  width: 100px;
  height: 40px;
  padding: 2px 20px;
  color: black;
  background-color: blue;
  display: grid;
  align-items: center;
  font-size: 15px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button:hover {
  background-color: #496fc0;
  color: white;
}
.imgBox {
  width: 17em;
  height: 17em;
}
.gutter {
  display: none;
}
.avtBox {
  width: 10em;
  height: 10em;
}
.subHeader {
  background-color: white;
  text-align: center;
}
.socialLinks {
  border: 5px dotted black;
  float: right;
}
/* ids */
#header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 2em;
  font-weight: bold;
  padding: 5px;
}
#subscribe {
  display: grid;
  justify-content: start;
}
#quote {
  text-align: center;
  font-weight: bold;
}
#search {
  display: grid;
  justify-content: end;
}
#avtImg {
  background-image: url("../images/img_avatar.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 50%;
}
#imgOne {
  background-image: url("../images/tree.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  float: left;
}
#imgTwo {
  background-image: url("../images/lakeview.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  float: left;
}
#imgThree {
  background-image: url("../images/mountains.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  float: left;
}
#imgFour {
  background-image: url("../images/robot.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  float: left;
}
#imgFive {
  background-image: url("../images/car.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  float: left;
}
#imgSix {
  background-image: url("../images/dumbbell.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  float: left;
}
#imgSeven {
  background-image: url("../images/bicycle.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  float: left;
}
#icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#home {
  background-color: chartreuse;
}
#author {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  color: white;
}
#authBio {
  display: flex;
  flex-wrap: wrap;
}
#firstBlock > div {
  flex: 1;
}
#firstBlock > p {
  flex: 2;
}
/* media */
@media (min-width: 769px) {
  p,
  a {
    font-size: 2em;
  }
  footer {
    font-size: 2.5em;
  }
  /* classes */
  .container {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    padding: 0 50px 0 50px;
  }
  .gutter {
    display: grid;
  }
  .imgBox {
    width: 30em;
    height: 30em;
  }
  .subHeader {
    font-size: 3em;
  }
  .avtBox {
    width: 18em;
    height: 18em;
    grid-area: a;
  }
  /* ids */
  #author {
    display: grid;
    grid-gap: 10px;
    grid-template-areas: "a a a b b c c c c";
  }
  #authBio {
    display: grid;
    grid-area: c;
  }
  #authInfo {
    display: grid;
    grid-area: b;
  }
  #header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "a a b";
  }
  #title {
    display: grid;
    grid-area: a;
    justify-content: start;
    font-size: 4em;
    font-weight: bold;
  }
  #subscribe {
    display: grid;
    grid-area: b;
    justify-content: start;
  }
  #search {
    display: grid;
    grid-area: b;
    justify-content: start;
  }
}
