.container {
  display: grid;
  grid-template-columns: 1fr;
  border: 3px solid black;
  grid-gap: 1em;
}
/*header area */
#header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

/*top stories section */
.topStories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.topStory {
  display: grid;
  justify-content: end;
}
#subHeadOne {
  display: grid;
  grid-column: span 3;
  justify-content: center;
}

/*more stories area */
.otherStories {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#subHeadTwo {
  display: grid;
  grid-column: span 2;
  justify-content: center;
}

/* blog images */
.photoBox {
  width: 9em;
  height: 9em;
}
#photo1 {
  background-image: url("../images/tree.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#photo2 {
  background-image: url("../images/lakeview.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#photo3 {
  background-image: url("../images/mountains.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#photo4 {
  background-image: url("../images/robot.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#photo5 {
  background-image: url("../images/car.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#photo6 {
  background-image: url("../images/dumbbell.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#photo7 {
  background-image: url("../images/bicycle.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
