@import "layout.css";
@import "header.css";
@import "footer.css";
.container {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  max-width: 100%;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  color: black;
  background-color: blue;
  padding: 15px 25px;
  font-size: 15px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button:hover {
  background-color: #496fc0; /* blue */
  color: white;
}
.topStories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.topStory {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: end;
  border: 2px dotted white;
  grid-gap: 10px;
}
.intro {
  display: grid;
  grid-column: span 2;
}
.otherStories {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.otherStoryA {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border: 2px dotted white;
  grid-gap: 10px;
}
.otherStoryB {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "topL topR"
    "bottomL bottomR";
  border: 2px dotted white;
  grid-gap: 10px;
}
.mainPhotoBox {
  width: 17em;
  height: 17em;
}
.secondPhotoBox {
  width: 10em;
  height: 10em;
}
/* ids */
#subHeadOne {
  display: grid;
  grid-column: span 3;
  justify-content: center;
  background-color: black;
  color: white;
}
#infoPlacement {
  display: grid;
  grid-area: topR;
}
#subHeadTwo {
  display: grid;
  grid-column: span 2;
  justify-content: center;
  background-color: black;
  color: white;
}
#photo1 {
  background-image: url("../images/tree.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#photo2 {
  background-image: url("../images/lakeview.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#photo3 {
  background-image: url("../images/mountains.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#photo4 {
  background-image: url("../images/robot.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#photo5 {
  background-image: url("../images/car.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#photo6 {
  background-image: url("../images/dumbbell.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#photo7 {
  background-image: url("../images/bicycle.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* media */
@media (max-width: 1300px) {
  .container {
    display: grid;
    grid-template-columns: 75px 1fr 75px;
  }
  .topStories {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #lastTopStory {
    display: grid;
    grid-column: span 2;

    grid-template-areas:
      "topL topR"
      "bottomL bottomR";
  }
  #photo3 {
    background-image: url("../images/mountains.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: grid;
    grid-row: span 2;
  }
  #lastTopStoryHeader {
    display: grid;
    grid-area: bottomR;
  }
  #lastTopStoryIntro {
    display: grid;
    grid-area: topR;
  }
}
@media (max-width: 930px) {
  /* classes */
  .container {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 100%;
  }
  .gutter {
    display: none;
  }
  .topStories {
    display: grid;
    grid-template-columns: "1fr";
  }
  .topStory {
    display: flex;
    flex-wrap: wrap;
    grid-column: span 2;
  }
  .topStoryHeader {
    display: grid;
    grid-area: bottomL;
  }
  .otherStories {
    display: grid;
    grid-template-columns: 1fr;
  }
  .mainPhotoBox {
    width: 10em;
    height: 10em;
  }
  .intro {
    display: grid;
    grid-column: span 1;
    grid-area: topR;
  }
  /* ids */
  #header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "a"
      "b"
      "c";
  }
  #title {
    display: grid;
    grid-area: a;
    justify-content: center;
    font-size: 3em;
    font-weight: bold;
  }
  #photo3 {
    background-image: url("../images/mountains.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: grid;
    grid-column: span 1;
  }
  #subscribe {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-area: b;
  }
  #search {
    display: grid;
    height: 10%;
    width: 20%;
    justify-content: center;
    grid-area: c;
  }
  #otherStoryC {
    display: grid;
    grid-column: span 2;

    grid-template-areas:
      "topL topR"
      "bottomL bottomR";
  }
  #otherStroyD {
    display: grid;
    grid-column: span 2;

    grid-template-areas:
      "topL topR"
      "bottomL bottomR";
  }
  #topStoryHeader {
    display: grid;
    grid-area: topR;
  }
  #lastTopStory {
    display: flex;
    flex-wrap: wrap;
  }
  #lastTopStoryIntro {
    display: grid;
    grid-column: span 1;
    grid-area: topR;
  }
  #lastTopStoryHeader {
    display: grid;
    grid-area: bottomL;
  }
  #photo3 {
    display: grid;
    grid-area: topR;
  }
}
