@import "layout.css";
@import "footer.css";
.container {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr;
  margin-bottom: 100px;
}
form {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: 1fr;
}
h2 {
  text-align: center;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  color: black;
  background-color: blue;
  padding: 15px 25px;
  font-size: 15px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button:hover {
  background-color: #496fc0; /* blue */
  color: white;
}
#home {
  display: grid;
  grid-area: b;
}
#submit {
  display: grid;
  background-color: blue;
}
#header {
  display: grid;
  grid-template-areas: "a a a a b b";
}
#title {
  display: grid;
  grid-area: a;
  justify-content: center;
  font-size: 3em;
  font-weight: bold;
}
@media (min-width: 768px) {
  form {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "a a"
      "b c";
  }
  .container {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
  }

  #formTitle {
    display: grid;
    grid-area: a;
  }
  #inputOne {
    display: grid;
    grid-area: b;
  }
  #inputTwo {
    display: grid;
    grid-area: c;
  }
}
